<div class="notice"> <%= flash[:message] %> </div>

<div>
  <% if @treatment.errors.any? %>
    <% @treatment.errors.full_messages.each do |message| %>
      <li><%= message.downcase %></li>
    <% end %>
  <% end %>
</div>

<h1>Create a New Treatment</h1>

<%= render 'form' %>
