<div class="notice"> <%= flash[:message] %> </div>

<h1> <%= @treatment.name %> </h1>

<div>
  <p><%= @treatment.details %></p>
</div>

<% if admin_logged_in? %>
  <%= link_to 'Delete Treatment', @treatment, method: :delete, data:{confirm: "Are you sure you want to destroy this treatment?"} %>
<% end %>
