<div class="center">

<div class="notice"> <%= flash[:message] %> </div>

  <h1> Welcome to Theurgy</h1>
  <h2>Your trusted EMR for mental health treatment<h2>

  <div class="pic">
    <%= image_tag "Welcome.jpeg", id: "img", size: "1100x653"%>
  </div>
</div>
