<div>
  <% if @patient.errors.any? %>
    <% @patient.errors.full_messages.each do |message| %>
      <li><%= message.downcase %></li>
    <% end %>
  <% end %>
</div>

<div class="new_patient_form">
  <h1>Add a Patient</h1>

  <%= render 'form', patient: @patient %>
</div>
