/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'icomoon';
   src: url("../fonts/icomoon/icomoon.eot?srf3rx");
   src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
   font-weight: normal;
   font-style: normal;
 }
 /* =======================================================
 *
 * 	Template Style
 *
 * ======================================================= */
 body {
   font-family: "Space Mono", Arial, serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7;
   color: #828282;
   background: #fff;
 }

 a {
   color: #317AE1;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
 }
 a:hover, a:active, a:focus {
   color: #317AE1;
   outline: none;
   text-decoration: none;
 }

 p {
   margin-bottom: 20px;
 }

 h1, h2, h3, h4, h5, h6, figure {
   color: #000;
   font-family: "Space Mono", Arial, serif;
   font-weight: 400;
   margin: 0 0 20px 0;
 }

 .fh5co-nav .top-menu {
   padding: 28px 0;
 }
 .fh5co-nav #fh5co-logo {
   font-size: 24px;
   margin: 0;
   padding: 0;
   text-transform: uppercase;
   font-weight: 700;
   font-family: "Space Mono", Arial, serif;
 }
 .fh5co-nav #fh5co-logo a span {
   color: #317AE1;
 }
 .fh5co-nav a {
   padding: 5px 10px;
   color: #000;
 }

 .fh5co-nav ul {
   padding: 0;
   margin: 5px 0 0 0;
 }
 .fh5co-nav ul li {
   padding: 0;
   margin: 0;
   list-style: none;
   display: inline;
   text-transform: uppercase;
   letter-spacing: 2px;
 }
 .fh5co-nav ul li a {
   font-size: 12px;
   padding: 30px 15px;
   color: rgba(0, 0, 0, 0.7);
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
 }
 .fh5o-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
   color: black;
 }
 .fh5co-nav ul li.has-dropdown {
   position: relative;
 }

 .fh5co-nav ul li.has-dropdown .dropdown li a:hover {
   color: #fff;
 }
 .fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
   color: #000;
 }
 .fh5co-nav ul li.btn-cta a {
   padding: 30px 0px !important;
   color: #fff;
 }
 .fh5co-nav ul li.btn-cta a span {
   background: #317ae1;
   padding: 4px 10px;
   display: -moz-inline-stack;
   display: inline-block;
   zoom: 1;
   *display: inline;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   border-radius: 100px;
 }
 .fh5co-nav ul li.btn-cta a:hover span {
   -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
   box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
 }

 .fh5co-heading {
   margin-bottom: 5em;
 }
 .fh5co-heading.fh5co-heading-sm {
   margin-bottom: 2em;
 }
 .fh5co-heading h2 {
   font-size: 32px;
   margin-bottom: 20px;
   line-height: 1.5;
   color: #000;
 }
 .fh5co-heading p {
   font-size: 18px;
   line-height: 1.5;
   color: #828282;
 }
 .fh5co-heading span {
   display: block;
   margin-bottom: 10px;
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 2px;
 }

 .btn {
   margin-right: 4px;
   margin-bottom: 4px;
   font-family: "Space Mono", Arial, serif;
   font-size: 16px;
   font-weight: 400;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   border-radius: 30px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   padding: 8px 20px;
 }

 .btn:hover, .btn:active, .btn:focus {
   box-shadow: none !important;
   outline: none !important;
 }

 .btn-primary {
   background: #317AE1;
   color: #fff;
   border: 2px solid #317AE1;
 }
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
   background: #4788e4 !important;
   border-color: #4788e4 !important;
 }

.center {
  text-align: center;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
  max-height: 776px;
  max-width: 767px;
}

.info {
  height: 290px;
  text-align: left;
}

.btn-primary2 {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.right {
  text-align: right
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.btn2 {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notice {
text-align: center;
font-size: 20px;
line-height: 1.428571429;
padding: 15px;
}

.black {
  color: #000;
}

table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber)".";
    min-width: 1em;
    margin-right: 0.5em;
}
